.container{
    padding: 15px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
}


hr {
    border: 1px solid;
    margin-bottom: 26px;
}

 background-color: #131b8f;
  color: white;
  padding: 16px 20px;
  margin: 8px ;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9

.registerbtn:hover {
    opacity:2;
  }
  

  
